<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
const b = (storeid) => {
	alert(storeid);
	location.href = "/auth/store/open?storeid="+storeid;
}

</script>
</head>
<body>
<h3>매장 목록</h3>
<a href="/index_admin">관리자 홈으로</a><br/>
<table border="1">
<tr><th>매장id</th><th>점주id</th><th>변경</th></tr>
<tr th:each="s:${list}">
	<td><a th:href="@{/auth/store/get(storeid=${s.storeid})}" th:text="${s.storeid}"></a></td>
	<td th:text="${s.sid.id}"></td>
	<td>
		<input type="button" th:if="${s.open}" value="폐점" th:onclick="a([[${s.storeid}]])">
		<input type="button" th:if="${!s.open}" value="개설" th:onclick="b([[${s.storeid}]])">
	</td>
</tr>
</table>
</body>
</html>